In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Data preprocessing/lajc_clean.csv")

In [3]:
df.head()

,claimID,employer,employercity,employerstate,employerzip,gender,hispanic,asian,claim_amount,case_open,valid,invalid,verified_claim,case_close,first_response,formal_investigate,wage_order,total_rec,wage_rec,duration
0,LLVA56991,"GREATER SCAPE'S GROUND MANAGEMENT, LLC",HENRICO,VA,23075.0,male,True,False,340.0,2014-08-22,True,False,340.00,2018-03-21,False,False,True,453.33,340.0,1307
1,LLVA57047,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,female,False,False,1275.5,2014-09-08,True,False,1272.99,2015-01-22,False,False,True,1644.67,1233.5,136
2,LLVA57784,"GIGI'S NEXT STEP CHILD CARE CENTER, LLC",SOUTH CHESTERFIELD,VA,23803.0,female,False,False,0.0,2015-03-06,False,False,547.88,2017-03-17,False,False,False,0.00,0.0,742
3,LLVA58364,MERRYMAN GROUNDS MAINT INC.,HAMPTON,VA,23661.0,male,False,False,50.0,2015-07-31,True,False,54.00,2016-05-23,False,True,False,0.00,0.0,297
4,LLVA58376,"CONTINENTAL HOME HEALTH CARE, LLC,",RICHMOND,VA,23294.0,female,False,False,2229.5,2015-08-04,False,False,1286.13,2016-01-26,False,False,False,0.00,0.0,175

In [4]:
df2 = pd.read_csv("LAJC Business Categorization - lajc_industry.csv")

In [5]:
df2.head()

,CLAIM NO,EMPLOYER NAME,EMPLOYER CITY,ST,ZIP,INDUSTRY,INDUSTRY (IF OTHER),SOURCE (URL),NOTES
0,LLVA56991,"GREATER SCAPE'S GROUND MANAGEMENT, LLC",HENRICO,VA,23075.0,Other (provide detail in column to the right),Landscaping,NaN,NaN
1,LLVA57047,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,NaN,NaN,NaN,NaN
2,LLVA57784,"GIGI'S NEXT STEP CHILD CARE CENTER, LLC",SOUTH CHESTERFIELD,VA,23803.0,Other (provide detail in column to the right),Child Care,NaN,NaN
3,LLVA58364,MERRYMAN GROUNDS MAINT INC.,HAMPTON,VA,23661.0,Other (provide detail in column to the right),Landscaping,NaN,NaN
4,LLVA58376,"CONTINENTAL HOME HEALTH CARE, LLC,",RICHMOND,VA,23294.0,Healthcare/Medicine,NaN,NaN,NaN

In [6]:
merged = pd.merge(df, df2, left_on="claimID", right_on='CLAIM NO')

In [7]:
merged.head()

,claimID,employer,employercity,employerstate,employerzip,gender,hispanic,asian,claim_amount,case_open,...,duration,CLAIM NO,EMPLOYER NAME,EMPLOYER CITY,ST,ZIP,INDUSTRY,INDUSTRY (IF OTHER),SOURCE (URL),NOTES
0,LLVA56991,"GREATER SCAPE'S GROUND MANAGEMENT, LLC",HENRICO,VA,23075.0,male,True,False,340.0,2014-08-22,...,1307,LLVA56991,"GREATER SCAPE'S GROUND MANAGEMENT, LLC",HENRICO,VA,23075.0,Other (provide detail in column to the right),Landscaping,NaN,NaN
1,LLVA57047,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,female,False,False,1275.5,2014-09-08,...,136,LLVA57047,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,NaN,NaN,NaN,NaN
2,LLVA57784,"GIGI'S NEXT STEP CHILD CARE CENTER, LLC",SOUTH CHESTERFIELD,VA,23803.0,female,False,False,0.0,2015-03-06,...,742,LLVA57784,"GIGI'S NEXT STEP CHILD CARE CENTER, LLC",SOUTH CHESTERFIELD,VA,23803.0,Other (provide detail in column to the right),Child Care,NaN,NaN
3,LLVA58364,MERRYMAN GROUNDS MAINT INC.,HAMPTON,VA,23661.0,male,False,False,50.0,2015-07-31,...,297,LLVA58364,MERRYMAN GROUNDS MAINT INC.,HAMPTON,VA,23661.0,Other (provide detail in column to the right),Landscaping,NaN,NaN
4,LLVA58376,"CONTINENTAL HOME HEALTH CARE, LLC,",RICHMOND,VA,23294.0,female,False,False,2229.5,2015-08-04,...,175,LLVA58376,"CONTINENTAL HOME HEALTH CARE, LLC,",RICHMOND,VA,23294.0,Healthcare/Medicine,NaN,NaN,NaN

In [8]:
groups = merged.groupby("INDUSTRY")

In [9]:
for grp in groups:
    break

In [10]:
grp[1].head()

,claimID,employer,employercity,employerstate,employerzip,gender,hispanic,asian,claim_amount,case_open,...,duration,CLAIM NO,EMPLOYER NAME,EMPLOYER CITY,ST,ZIP,INDUSTRY,INDUSTRY (IF OTHER),SOURCE (URL),NOTES
20,LLVA59004,PRISTINE SERVICES,GLEN ALLEN,VA,23059.0,female,False,False,19.0,2015-12-23,...,20,LLVA59004,PRISTINE SERVICES,GLEN ALLEN,VA,23059.0,Cleaning services,NaN,NaN,NaN
34,LLVA59039,MARK WILLIAMS CLEANING SERVICE,VIRGINIA BEACH,VA,23452.0,male,False,False,661.3,2016-01-07,...,19,LLVA59039,MARK WILLIAMS CLEANING SERVICE,VIRGINIA BEACH,VA,23452.0,Cleaning services,NaN,NaN,NaN
40,LLVA59050,DIVERSIFIED CLEANING SERVICES,CHESAPEAKE,VA,23320.0,male,False,False,13.5,2016-01-08,...,4,LLVA59050,DIVERSIFIED CLEANING SERVICES,CHESAPEAKE,VA,23320.0,Cleaning services,NaN,NaN,NaN
50,LLVA59060,J'S AUTO CLEANING SERVICE,CHESAPEAKE,VA,23320.0,male,False,False,2225.0,2016-01-12,...,0,LLVA59060,J'S AUTO CLEANING SERVICE,CHESAPEAKE,VA,23320.0,Cleaning services,NaN,NaN,NaN
106,LLVA59124,VA CLEAN WAY,NORFOLK,VA,23502.0,male,False,False,2665.5,2016-02-03,...,0,LLVA59124,VA CLEAN WAY,NORFOLK,VA,23502.0,Cleaning services,NaN,NaN,NaN

In [11]:
regions = {
    "Central": """Charlottesville
Colonial Heights
Hopewell
Petersburg
Richmond""".splitlines(),
    "West Central":"""Lynchburg
Radford
Roanoke
Salem""".splitlines(),
    "Southside": """Danville
Emporia
Franklin
Martinsville""".splitlines(),
    "Hampton Roads":"""Chesapeake
Hampton
Newport News
Norfolk
Poquoson
Portsmouth
Suffolk
Virginia Beach
Williamsburg""".splitlines(),
    "Eastern":"""Accomack
Essex
King & Queen
Lancaster
Middlesex
Northhampton
Northumberland
Richmond
Westmoreland""".splitlines(),
    "Southwest":"""Bristol
Galax
Norton""".splitlines(),
    "Northern":"""Alexandria
Fairfax
Falls Church
Fredericksburg
Manassas
Manassas Park""".splitlines(),
    "Southern":"""Buena Vista
Covington
Harrisonburg
Lexington
Stauton
Waynesboro
Winchester""".splitlines()}

In [12]:
len(regions)

8

In [13]:
city_to_region = [(city,region) for region, cities in regions.items() for city in cities]

In [14]:
city_to_region = pd.DataFrame(city_to_region, columns=["City", "Region"])
city_to_region["City"] = city_to_region["City"].str.upper()
city_to_region

                City         Region
0    CHARLOTTESVILLE        Central
1   COLONIAL HEIGHTS        Central
2           HOPEWELL        Central
3         PETERSBURG        Central
4           RICHMOND        Central
5          LYNCHBURG   West Central
6            RADFORD   West Central
7            ROANOKE   West Central
8              SALEM   West Central
9           DANVILLE      Southside
10           EMPORIA      Southside
11          FRANKLIN      Southside
12      MARTINSVILLE      Southside
13        CHESAPEAKE  Hampton Roads
14           HAMPTON  Hampton Roads
15      NEWPORT NEWS  Hampton Roads
16           NORFOLK  Hampton Roads
17          POQUOSON  Hampton Roads
18        PORTSMOUTH  Hampton Roads
19           SUFFOLK  Hampton Roads
20    VIRGINIA BEACH  Hampton Roads
21      WILLIAMSBURG  Hampton Roads
22          ACCOMACK        Eastern
23             ESSEX        Eastern
24      KING & QUEEN        Eastern
25         LANCASTER        Eastern
26         MIDDLESEX        Eastern
27      NORTHHAMPTON        Eastern
28    NORTHUMBERLAND        Eastern
29          RICHMOND        Eastern
30      WESTMORELAND        Eastern
31           BRISTOL      Southwest
32             GALAX      Southwest
33            NORTON      Southwest
34        ALEXANDRIA       Northern
35           FAIRFAX       Northern
36      FALLS CHURCH       Northern
37    FREDERICKSBURG       Northern
38          MANASSAS       Northern
39     MANASSAS PARK       Northern
40       BUENA VISTA       Southern
41         COVINGTON       Southern
42      HARRISONBURG       Southern
43         LEXINGTON       Southern
44           STAUTON       Southern
45        WAYNESBORO       Southern
46        WINCHESTER       Southern

In [15]:
merged2 = pd.merge(merged, city_to_region, left_on="employercity", right_on="City")

In [16]:
merged2.head()

,claimID,employer,employercity,employerstate,employerzip,gender,hispanic,asian,claim_amount,case_open,...,EMPLOYER NAME,EMPLOYER CITY,ST,ZIP,INDUSTRY,INDUSTRY (IF OTHER),SOURCE (URL),NOTES,City,Region
0,LLVA57047,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,female,False,False,1275.50,2014-09-08,...,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,NaN,NaN,NaN,NaN,ROANOKE,West Central
1,LLVA59239,PATRIOT DRUG AND DNA TESTING,ROANOKE,VA,24019.0,female,False,False,229.50,2016-03-03,...,PATRIOT DRUG AND DNA TESTING,ROANOKE,VA,24019.0,NaN,NaN,NaN,NaN,ROANOKE,West Central
2,LLVA59312,AMERICAN ENTERPRISE SOLUTIONS,ROANOKE,VA,24018.0,male,False,False,332.55,2016-03-09,...,AMERICAN ENTERPRISE SOLUTIONS,ROANOKE,VA,24018.0,NaN,NaN,NaN,NaN,ROANOKE,West Central
3,LLVA59373,FIRST BAPTIST CHURCH OF ROANOKE,ROANOKE,VA,24016.0,male,True,False,14000.00,2016-03-24,...,FIRST BAPTIST CHURCH OF ROANOKE,ROANOKE,VA,24016.0,NaN,NaN,NaN,NaN,ROANOKE,West Central
4,LLVA59417,OLD DOMINION EYE FOUNDATION,ROANOKE,VA,24019.0,female,False,False,0.00,2016-04-01,...,OLD DOMINION EYE FOUNDATION,ROANOKE,VA,24019.0,Healthcare/Medicine,NaN,NaN,NaN,ROANOKE,West Central

In [17]:
merged2.to_csv("lajc_clean_categorization_region.csv")

In [18]:
!head lajc_clean_categorization_region.csv

,claimID,employer,employercity,employerstate,employerzip,gender,hispanic,asian,claim_amount,case_open,valid,invalid,verified_claim,case_close,first_response,formal_investigate,wage_order,total_rec,wage_rec,duration,CLAIM NO,EMPLOYER NAME,EMPLOYER CITY,ST,ZIP,INDUSTRY,INDUSTRY (IF OTHER),SOURCE (URL),NOTES,City,Region
0,LLVA57047,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,female,False,False,1275.5,2014-09-08,True,False,1272.99,2015-01-22,False,False,True,1644.67,1233.5,136,LLVA57047,"TRANSFORMED LEADERSHIP, LLC.",ROANOKE,VA,24018.0,,,,,ROANOKE,West Central
1,LLVA59239,PATRIOT DRUG AND DNA TESTING,ROANOKE,VA,24019.0,female,False,False,229.5,2016-03-03,False,False,0.0,2016-03-08,False,False,False,0.0,0.0,5,LLVA59239,PATRIOT DRUG AND DNA TESTING,ROANOKE,VA,24019.0,,,,,ROANOKE,West Central
2,LLVA59312,AMERICAN ENTERPRISE SOLUTIONS,ROANOKE,VA,24018.0,male,False,False,332.55,2016-03-09,True,False,332.55,2016-03-30,False,True,False,0.0,0.0,21,LLVA59312,AMERICAN ENTERPRISE SOLUTIONS,ROANOKE,VA,24018.0,,,,,ROANOKE,West Central
3,LLVA59373,FIRST BAPTIST CHURCH OF ROANOKE,ROANOKE,VA,24016.0,male,True,False,14000.0,2016-03-24,False,False,0.0,2016-05-05,False,False,False,0.0,0.0,42,LLVA59373,FIRST BAPTIST CHURCH OF ROANOKE,ROANOKE,VA,24016.0,,,,,ROANOKE,West Central
4,LLVA59417,OLD DOMINION EYE FOUNDATION,ROANOKE,VA,24019.0,female,False,False,0.0,2016-04-01,False,False,0.0,2016-04-01,False,False,False,0.0,0.0,0,LLVA59417,OLD DOMINION EYE FOUNDATION,ROANOKE,VA,24019.0,Healthcare/Medicine,,,,ROANOKE,West Central
5,LLVA59458,BEST VAPES VALLEY VIEW MALL,ROANOKE,VA,24017.0,male,False,False,200.0,2016-04-19,False,False,71.79,2016-05-19,False,False,False,0.0,0.0,30,LLVA59458,BEST VAPES VALLEY VIEW MALL,ROANOKE,VA,24017.0,Retail,,,,ROANOKE,West Central
6,LLVA59479,KFC,ROANOKE,VA,24018.0,male,False,False,80.0,2016-04-19,True,False,80.0,2016-05-06,True,False,False,0.0,0.0,17,LLVA59479,KFC,ROANOKE,VA,24018.0,Restaurant,,,,ROANOKE,West Central
7,LLVA59595,WILDFLOUR BAKERY AND RESTAURANT,ROANOKE,VA,24016.0,female,False,False,856.75,2016-05-17,False,False,0.0,2016-05-17,False,False,False,0.0,0.0,0,LLVA59595,WILDFLOUR BAKERY AND RESTAURANT,ROANOKE,VA,24016.0,Restaurant,,,,ROANOKE,West Central
8,LLVA59679,"SOUTHWEST VIRGINIA JANITOR & SUPPLY, LTD",ROANOKE,VA,24017.0,male,False,False,1218.0,2016-06-01,False,False,0.0,2016-09-20,False,False,False,0.0,0.0,111,LLVA59679,"SOUTHWEST VIRGINIA JANITOR & SUPPLY, LTD",ROANOKE,VA,24017.0,,,,,ROANOKE,West Central

In [23]:
from ipyleaflet import Map, basemaps, basemap_to_tiles

m = Map(center=(37.4316, -78.6569), zoom=9)

In [24]:
m

Map(basemap={'url': 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 'max_zoom': 19, 'attribution': 'Map …